.trade-id-toolbar {
    flex: 1 1 auto;
    padding: 0px 2px 16px 0px;
    background-color: #ffffff;
  }

  .main-container  {
    margin: 10px;

    /*width: 20%*/
  }
  .trade-id-spacer {
    flex: 1 1 auto;
  }

  .material-icons {
    cursor: pointer;
  }