.example-container {
    display: flex;
    flex-direction: row;
  }
  /* .example-container > * {
    width: 100%;
  } */

  .example-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  mat-form-field.mat-form-field {
    font-size: 16px;
    }
  mat-label {
    font-size: 16px;
  }